@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @apply bg-gray-100;
}
.hide {
  scrollbar-width: none;
}
.hide::-webkit-scrollbar {
  display: none;
}
